.footer-nav {
	display: flex;
	flex-direction: column;

	&_title {
		margin-bottom: 21px;
		color: $blackSecondary;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: -0.5px;

		@media screen and (max-width: 767px) {
			margin-bottom: 8px;
		}
		@media screen and (max-width: 603px) {
			flex: 0 1 48px;
		}

		&.accordion__title {
			padding: 21px 24px;
			margin: 0 -16px;
			background-color: $grayLight;
			letter-spacing: -0.4px;

			&::before {
				right: 32px;
			}
			&::after {
				right: 38px;
			}

			@media screen and (min-width: 576px) {
				display: none;
			}
		}

		&--desktop {
			@media screen and (max-width: 575px) {
				display: none;
			}
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
	}

	&_item {
		display: inline-block;
		margin-bottom: 9px;
		color: $blackSecondary;
		font-size: 16px;
		line-height: 19px;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: 575px) {
			padding: 9px 18px;
			margin-bottom: 0;
			&:first-child {
				padding-top: 16px;
			}
			&:last-child {
				padding-bottom: 16px;
			}
		}
	}
}
