.footer-nav {
	
	&_title {
		margin-bottom: 16px;
		color: $blackSecondary;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}
	
	&_list {
		display: flex;
		flex-direction: column;
	}
	
	&_item {
		display: inline-block;
		margin-bottom: 6px;
		color: $blackSecondary;
		font-size: 16px;
		line-height: 22px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}