.header-action {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px) {
		border-bottom: 2px solid transparent;
	}
	
	&_item {
		margin-left: 32px;
		transition: 0.3s ease all 0s;

		@media screen and (max-width: 991px) {
			margin-left: 16px;
		}
		@media screen and (max-width: 575px) {
			display: none;
			margin: 0;

			&.basket-btn {
				display: block;
			}

			i {
				width: 30px;
				height: 30px;
			}
		}
		
		&:first-child {
			margin-left: 0;
		}

		&:hover {
			transform: translate(0, 3px);
		}
	}
}