.icon-star {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/star.svg") center no-repeat;
}

.icon-star-dark {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/star-dark.svg") center no-repeat;
}

.icon-review-check {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/review-check.svg") center no-repeat;
}

.icon-wishlist {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 19px;
	background: url("../img/icons/wishlist.svg") center no-repeat;
}

.icon-cart {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url("../img/icons/cart.svg") center no-repeat;
}

.icon-home {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/home.svg") center no-repeat;
}

.icon-menu {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/menu.svg") center no-repeat;
}

.icon-favourite {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/favourite.svg") center no-repeat;
}

.icon-account {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/account.svg") center no-repeat;
}

.icon-log-in {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/LogIn.svg") center no-repeat;
}

.icon-plus {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	background: url("../img/icons/plus.svg") center no-repeat;
}

.icon-phone {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	background: url("../img/icons/phone.svg") center no-repeat;
}

.icon-phone-hover {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	background: url("../img/icons/phone-hover.svg") center no-repeat;
}

.icon-loop {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/loop.svg") center no-repeat;
}

.icon-location {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/Location.svg") center no-repeat;
}

.icon-account-big {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/account-big.svg") center no-repeat;
}

.icon-favourite-big {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/favourite-big.svg") center no-repeat;
}

.icon-basket {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/basket.svg") center no-repeat;
}

.icon-return {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/return.svg") center no-repeat;
}

.icon-shipping {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/shipping.svg") center no-repeat;
}

.icon-message {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 16px;
	background: url("../img/icons/message.svg") center no-repeat;
}

.icon-youtube {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/social/youtube.svg") center no-repeat;
}

.icon-twitter {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/social/twitter.svg") center no-repeat;
}

.icon-google-plus {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/social/google-plus.svg") center no-repeat;
}

.icon-pinterest {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/social/pinterest.svg") center no-repeat;
}

.icon-facebook {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/social/facebook.svg") center no-repeat;
}

.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/close.svg") center no-repeat;
}

.arrow-combine {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 12px;
	background: url("../img/icons/arrow-combine.svg") center no-repeat;
}

.arrow-pagination-left {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/arrow-pagination-left.svg") center no-repeat;
}

.arrow-pagination-right {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/arrow-pagination-right.svg") center no-repeat;
}

.arrow-slider-left {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 12px;
	background: url("../img/icons/arrow-slider.svg") center no-repeat;
}

.arrow-slider-right {
	transform: rotate(180deg);
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 12px;
	background: url("../img/icons/arrow-slider.svg") center no-repeat;
}

.arrow-dropdown {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url("../img/icons/arrow-dropdown.svg") center no-repeat;
}

.arrow-dropdown-green {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url("../img/icons/arrow-dropdown-green.svg") center no-repeat;
}

.icon-gift-card {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/GiftCard.svg") center no-repeat;
}

.icon-thumbsup {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/thumbsup.svg") center no-repeat;
}

.icon-thumbsdown {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/thumbsdown.svg") center no-repeat;
}

.icon-points {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 4px;
	background: url("../img/icons/points.svg") center no-repeat;
}

.icon-basket-chevron {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 5px;
	background: url("../img/icons/basket-chevron.svg") center no-repeat;
}

.icon-chevron {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/chevron.svg") center no-repeat;
}

.icon-chevron-fff {
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 15px;
	background: url("../img/icons/chevron-fff.svg") center no-repeat;
}
