.logo {
	display: inline-block;
	z-index: 3;
	
	img {
		display: block;
		max-width: 100%;
	}

	&_img--desktop {
		@media screen and (max-width: 575px) {
			display: none;
		}
	}
	&_img--mobile {
		transform: scale(1.7);
		
		@media screen and (min-width: 576px) {
			display: none;
		}
	}
}