.product-color {
	&--small {
		.product-color_item {
			width: 16px;
			height: 16px;
			margin: 0 4px;
			
			&:hover,
			&.is-active {
				padding: 1px;
				border: 1px solid $blackSecondary;
			}
		}
	}
	
	&_title {
		margin-bottom: 11px;
		font-size: 14px;
		line-height: 18px;
	}
	
	&_mobile-title {
		display: none;
	}
	
	&_list {
		display: flex;
		align-items: center;
	}
	
	&_item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		margin: 0 8px;
		transition: padding .1s;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:hover,
		&.is-active {
			padding: 2px;
			border: 2px solid $blackSecondary;
		}
		
		span {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	
	@media (max-width: $screen-xs) {
		
		&_item {
			width: 35px;
			height: 35px;
		}
	}
}