.product-group {
	
	&_title {
		margin-bottom: 25px;
		color: $blackSecondary;
	}
	
	&_item {
		display: flex;
		justify-content: space-between;
		min-height: 140px;
		padding-top: 15px;
		padding-bottom: 8px;
		border-bottom: 1px solid $grayLight;
		
		&__left {
			display: flex;
		}
		
		&__right {
			display: flex;
			flex-direction: column;
			padding-top: 8px;
		}
		
		&__img {
			margin-right: 16px;
			
			img {
				max-width: 100%;
			}
		}
		
		&__info {
			display: flex;
			flex-direction: column;
			padding-top: 8px;
		}
		
		&__title {
			margin-bottom: 6px;
			color: $blackSecondary;
		}
		
		&__sku {
			margin-bottom: 6px;
			color: $grayPrimary;
		}
		
		&__color {
			margin-top: auto;
		}
		
		&__price {
			margin-bottom: 6px;
			font-family: $fontSecond;
			font-size: 18px;
			line-height: 21px;
			text-align: right;
		}
		
		&__count {
			margin-top: auto;
		}
	}
}