.product-combine {
	
	&_title {
		margin-bottom: 16px;
	}
	
	&_block {
		display: flex;
		align-items: center;
	}
	
	&_img {
		display: flex;
		flex: 2 1 150px;
		max-width: 150px;
		max-height: 200px;
		margin-right: 32px;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	&_info {
		flex: 1 2 auto;
	}
	
	&_arrow {
		flex: 3 0 24px;
		max-width: 24px;
		margin-left: 10px;
	}
	
	&_name {
		display: inline-block;
		margin-bottom: 6px;
		color: $blackSecondary;
		font-size: 16px;
		line-height: 24px;
		transition: .3s;
		
		&:hover {
			color: $greenPrimary;
			text-decoration: none;
		}
	}
	
	&_rating {
		margin-bottom: 24px;
	}
	
	&_color {
		margin-bottom: 8px;
	}
	
	&_price {
		display: flex;
		align-items: center;
		
		&__old {
			margin-right: 8px;
			color: $redPrimary;
			font-size: 14px;
			line-height: 18px;
			text-decoration: line-through;
		}
		
		&__current {
			font-size: 18px;
			line-height: 23px;
		}
	}
	
	@media (max-width: $screen-xs) {
		&_img {
			margin-right: 20px;
		}
		
		&_name {
			max-width: 165px;
		}
		
		&_rating,
		&_color {
			display: none;
		}
		
		&_info {
			max-width: 165px;
			padding-right: 10px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		&_arrow {
			margin-left: auto;
		}
	}
}