.product-gallery {
	position: relative;

	.product-card_wishlist {
		top: 20px;
		right: 30px;
	}

	&_list {
		@media screen and (min-width: 576px) {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			margin: 0 -1px;
		}
	}

	&_item {
		@media screen and (min-width: 576px) {
			position: relative;
			flex: 1 1 calc(50% - 2px);
			//max-width: 428px;
			margin: 0 1px 2px;
			transition: 0.3s;
		}

		&.big-photo {
			flex: 1 1 calc(100% - 2px);
			//max-width: 858px;
		}

		img {
			@media screen and (min-width: 576px) {
				max-width: 100%;
				max-height: 100%;
				width: 100%;
			}
		}
	}

	.slick-dots {
		display: flex;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50%;
		bottom: 15px;
		transform: translate(-50%, 0);

		li {
			list-style-type: none;
			margin: 0 4px;

			&.slick-active {
				button {
					background-color: $blackSecondary;
				}
			}
		}

		button {
			border: none;
			background-color: $grayLight;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			font-size: 0;
			padding: 0;

			&:focus {
				outline: none;
			}
		}
	}

	@media (max-width: $screen-xs) {
		&_item {
			&.big-photo {
				display: none !important;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}

			.product-item_discount {
				display: none;
			}
		}
	}
}
