.table-size {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba($grayPrimary, .7);
	transition: .3s;
	
	&.is-open {
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}
	
	&_inner {
		position: relative;
		width: 925px;
		height: 805px;
		padding: 50px 78px 64px;
		background-color: #fff;
		box-shadow: 0 4px 11px rgba(29, 31, 34, 0.1);
	}
	
	&_close {
		position: absolute;
		top: 6px;
		right: 6px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border: none;
		transition: .3s;
		cursor: pointer;
		
		&:hover {
			transform: rotate(90deg);
		}
		
		&:focus,
		&:active {
			outline: none;
		}
		
		i {
			width: 20px;
			height: 20px;
			background-size: cover;
		}
	}
	
	&_head {
		display: flex;
		justify-content: center;
		padding-bottom: 11px;
		border-bottom: 2px solid $grayLight;
	}
	
	&_body {
		padding-top: 40px;
	}
	
	&_type {
		display: flex;
		justify-content: center;
		align-items: center;
		
		&__item {
			position: relative;
			display: block;
			margin: 0 68px;
			padding: 0 6px;
			color: $graySecondary;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			background-color: transparent;
			border: none;
			transition: .3s;
			cursor: pointer;
			
			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				transform: translateY(11px);
				width: 0;
				height: 2px;
				margin: auto;
				background-color: $blackPrimary;
				transition: .3s;
			}
			
			&:hover {
				color: $blackPrimary;
			}
			
			&:focus,
			&:active {
				outline: none;
			}
			
			&.is-active {
				color: $blackPrimary;
				
				&:after {
					opacity: 1;
					visibility: visible;
					width: 100%;
				}
			}
		}
	}
	
	&_block {
		display: none;
		
		&.is-active {
			display: block;
		}
	}
}