.comment {
	// .comment__body
	&__body {
		margin-bottom: 16px;
	}

	// .comment__top
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	// .comment__author
	&__author {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: $blackSecondary;

		@media screen and (max-width: $size-layout-desktop + 'px') {
			font-size: calc(16px + 8 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
		}
		@media screen and (max-width: 767px) {
			font-weight: 600;
			letter-spacing: -0.4px;
		}
	}

	// .comment__date
	&__date {
		font-size: 14px;
		line-height: 20px;
		color: $grayPrimary;
	}

	// .comment__rating
	&__rating {
		padding-top: 5px;

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	// .comment__content
	&__content {
		padding: 24px 0 16px;

		@media screen and (max-width: 767px) {
			padding: 16px 0;
		}
	}

	// .comment__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .comment__answer
	&__answer {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22px;
		color: $graySecondary;
		letter-spacing: 1px;
	}

	// .comment__chilren
	&__chilren {
		border-left: 4px solid $grayLight;
		padding: 25px 0px 0px 25px;

		@media screen and (max-width: 767px) {
			padding: 25px 0 0 16px;
		}
	}

	&--parent {
		padding: 0;
	}

	&__points {
		.custom-select__trigger {
			padding: 5px 0;
		}

		.custom-select__custom-options {
			text-align: right;
			min-width: inherit;
		}
		
		.custom-options__option {
			padding: 7px 20px;
		}
	}
}