.sec-popular-goods {
	padding: 40px 0;

	&_title {
		margin-bottom: 30px;
		text-align: center;
		font-weight: 600;
		letter-spacing: -1.5px;

		@media screen and (max-width: 575px) {
			padding: 0 7px;
		}
	}

	&_link-more {
		display: none;
	}

	@media (max-width: $screen-xs) {
		&_head {
			display: flex;
			justify-content: space-between;
			padding: 0;
			border-bottom: 1px solid $grayLight;
		}

		&_title {
			margin-bottom: 25px;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
		}

		&_link-more {
			display: inline-block;
			color: $blackPrimary;
			font-family: $fontSecond;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			text-decoration: underline;

			&:hover {
				color: $greenPrimary;
			}
		}
	}

	&--home {
		padding: 64px 0px 27px 0px;

		@media screen and (max-width: 991px) {
			padding: 40px 0 0;
		}
		@media screen and (max-width: 767px) {
			padding-bottom: 0;
		}
		@media screen and (max-width: 575px) {
			padding: 33px 0 0 0;

			.sec-popular-goods_head {
				border-bottom: none;
			}

			.sec-popular-goods_link-more {
				display: none;
			}

			.title-h3 {
				font-weight: 500;
				border: none;
				margin-bottom: 8px;
				letter-spacing: 0.1px;
			}
		}
		@media screen and (max-width: 450px) {
			.product-card .product-card_img {
				padding-bottom: 137%;
			}
		}
	}

	&--home-2 {
		@media screen and (max-width: 991px) {
			padding-top: 14px;
		}
	}

	.slider_item,
	.product-card {
		&:focus {
			outline: none;
		}
	}
}
