.step-checkout {
	padding: 48px 0 46px;
	border-bottom: 1px solid $grayLight;

	@media screen and (max-width: 767px) {
		padding: 24px 0;
	}

	&__first-row {
		align-items: center;

		@media screen and (max-width: 850px) {
			display: block;
		}

		.step-checkout__title {
			margin-bottom: 0;

			@media screen and (max-width: 850px) {
				margin-bottom: 32px;
			}
			@media screen and (max-width: 767px) {
				margin-bottom: 16px;
			}
		}
	}

	&__input-row {
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -24px -30px;

		&.m-0 {
			margin: 0 !important;
		}
		&.w-100 {
			width: 100%;
		}
	}

	&__input-row--three {
		.step-checkout__input {
			flex: 1 1 33.333%;
		}
	}

	&__input {
		flex: 1 1 50%;
		padding: 0 24px;
		margin-bottom: 32px;

		@media screen and (max-width: 575px) {
			flex: 1 1 100%;
			margin-bottom: 28px;
		}

		&.mb-0 {
			margin-bottom: 0 !important;
		}
		&.p-0 {
			padding: 0 !important;
		}

		span {
			font-size: 10px;
			line-height: 14px;
			color: $blackSecondary;
			padding-left: 5px;
		}
	}

	// .step-checkout__title
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.7px;
		margin-bottom: 32px;
		flex: 1 1 auto;
		padding-right: 15px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(18px + 4 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
			line-height: calc(32 / 24);
		}
		@media screen and (min-width: 992px) {
			white-space: nowrap;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 16px;
		}

		&.mb-0 {
			margin-bottom: 0;
		}
	}

	.input-group {
		&__field {
			padding: 5px;
			color: $blackPrimary;
		}

		&__title {
			left: 5px;
		}
	}

	&__radio-wrapper {
		margin: -16px 0px -13px 0px;

		@media screen and (max-width: 575px) {
			margin: 0;
		}
	}

	.radio-group {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 16px 8px 16px 16px;
		margin: 0 0 3px;
		transition: 0.3s ease all 0s;

		@media screen and (max-width: 767px) {
			padding: 12px 0 12px 0;
		}
		@media screen and (max-width: 575px) {
			margin: 0 -16px 0 -16px;
			padding: 12px 16px;
		}

		&:last-child {
			@media screen and (min-width: 576px) {
				margin: 0;
			}
		}

		&._active {
			background-color: $grayLight;
		}

		&__title {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 0;

			@media screen and (max-width: $size-layout-desktop + "px") {
				font-size: calc(14px + 2 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
				line-height: calc(22 / 16);
			}
		}

		&__subtitle {
			font-size: 14px;
			line-height: 22px;
			color: $grayPrimary;

			@media screen and (max-width: $size-layout-desktop + "px") {
				font-size: calc(12px + 2 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
				line-height: calc(22 / 14);
			}
		}

		&__text {
			padding: 0 0 0 47px;

			@media screen and (max-width: 991px) {
				padding-left: 33px;
			}

			&::before {
				top: 0;
				transform: translate(0, 47%);
			}
			&::after {
				top: 0;
				transform: translate(0, 72%);
			}
		}
	}

	// .step-checkout__radio-price
	&__radio-price {
		font-weight: 600;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: -0.9px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 4 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
			line-height: calc(23 / 18);
		}
		@media screen and (max-width: 767px) {
			letter-spacing: -0.5px;
		}
	}

	.radio-group__checked {
		margin-top: 26px;
		flex: 0 0 100%;
		display: none;
	}

	&__btn {
		width: 100%;
		max-width: 410px;
		margin: 27px 0px 14px 0px;
	}
}

@for $i from 2 through 5 {
	#checkoutStep-#{$i} {
		display: none;
	}
}
