@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// libs
@import "libs/slick";

// old
@import "old/utilites/index";
@import "old/base/index";
@import "old/modules/index";
@import "old/layout/index";
@import "old/components/index";
@import "old/sections/index";

@import "fonts";
@import "components/index";

// pages
@import "pages/catalog/index";
@import "pages/home/index";
@import "pages/blog/index";
@import "pages/article/index";
@import "pages/cart/index";
@import "pages/help/index";
@import "pages/about/index";
@import "pages/404/index";
@import "pages/lk/lk";
@import "pages/checkout/index";

.checkout-success {
	&__breadcrumbs {
		@media screen and (max-width: 991px) {
			display: none;
		}

		.breadcrumbs__link {
			&.is-active {
				color: $blue;
			}

			&::after {
				display: none;
			}
		}
	}

	&__row {
		justify-content: space-between;
		align-items: flex-start;

		@media screen and (max-width: 991px) {
			flex-direction: column;
		}
		@media screen and (max-width: 575px) {
			margin: 0 -16px;
		}
	}
	&__top {
	}

	.checkout__content {
		@media screen and (max-width: 575px) {
			padding: 0 16px;
		}
	}
	.summary-cart__label {
	}

	.summary-cart__result {
	}

	.summary-cart__final {
		.summary-cart__label {
		}

		.summary-cart__result {
		}
	}

	.signin-wrapper {
		&__offer-notation {
			font-weight: 400;
			color: $blackSecondary;
			text-align: left;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -22.5px;
		}

		&__item {
			flex: 0 0 50%;
			padding: 12px 22.5px;
			display: flex;
			align-items: center;
		}

		&__offer-text {
			max-width: 169px;
		}
	}

	.signin-wrapper__offer-box {
	}

	.signin-wrapper__offer {
	}
}

.success-checkout {
	margin-bottom: 65px;
	@media screen and (max-width: 991px) {
		background: $grayLight !important;
	}
	@media screen and (max-width: 575px) {
		margin: 0 -16px;
	}

	// .success-checkout__content
	&__content {
		padding: 46px 80px;

		@media screen and (max-width: 991px) {
			padding: 24px 60px 0;
		}
		@media screen and (max-width: 767px) {
			padding: 24px 16px 0;
		}
	}

	&__wrapper {
		@media screen and (max-width: 991px) {
			border-bottom: 1px solid #fff;
			padding-bottom: 24px;
		}
	}

	// .success-checkout__title
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 16px;
		letter-spacing: -0.8px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(18px + 6 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
			line-height: calc(32 / 24);
		}
	}

	// .success-checkout__text
	&__text {
		margin-bottom: 8px;
		display: flex;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}

	// .success-checkout__text-label
	&__text-label {
		color: $grayPrimary;
	}

	// .success-checkout__text-result
	&__text-result {
		padding-left: 4px;
	}
}

.product-table {
	@media screen and (max-width: 991px) {
		padding-bottom: 48px;
	}
	// .product-table__head
	&__head {
		padding: 12px 0 11px;
		border-bottom: 2px solid $grayLight;
	}

	&__head-row,
	&__body-row {
		display: flex;
		margin: 0 -10px;
		padding: 7px 0;
		white-space: nowrap;
	}

	// .product-table__row
	&__body-row {
		border-bottom: 1px solid $grayLight;
	}

	// .product-table__column
	&__column {
		flex: 0 0 17%;
		padding: 0 10px;
	}

	// .product-table__column--image
	&__column--image {
		flex: 0 0 102px;

		@media screen and (max-width: 1050px) {
			flex: 0 0 82px;
		}
	}

	// .product-table__column--description
	&__column--description {
		flex: 0 1 29%;

		@media screen and (min-width: 1100px) {
			padding-left: 32px;
		}
		@media screen and (max-width: 991px) {
			flex: 0 1 38%;
		}
		@media screen and (max-width: 767px) {
			flex: 0 1 29%;
		}
	}

	// .product-table__column--description
	&__column--color {
		flex: 0 0 15.2%;
	}

	// .product-table__column--description
	&__column--quantity {
		flex: 0 0 10.4%;
	}

	// .product-table__column--description
	&__column--size {
		flex: 0 0 13.8%;
	}

	// .product-table__column--price
	&__column--price {
		text-align: right;

		@media screen and (max-width: 991px) {
			flex: 1 1 auto;
		}
	}

	// .product-table__body
	&__body {
		padding-top: 9px;

		@media screen and (max-width: 991px) {
			overflow-x: hidden;
		}
	}

	// .product-table__product-img
	&__product-img {
		img {
			display: block;
			max-width: 100%;
		}
	}

	// .product-table__content-wrapper
	&__content-wrapper {
		padding-top: 3px;
	}

	// .product-table__product-name
	&__product-name {
		margin-bottom: 16px;
	}

	// .product-table__product-vendor
	&__product-vendor {
	}

	// .product-table__product-price
	&__product-price {
	}
}

.summary-success {
	@media screen and (min-width: 992px) {
		position: sticky;
		top: 80px;
	}
	@media screen and (max-width: 991px) {
		flex: 1 1 100%;
		width: 100%;
		margin: 0;
	}
	@media screen and (max-width: 820px) {
		flex: 1 1 100%;
		width: 100%;
	}
	@media screen and (max-width: 575px) {
		margin: 0;
	}

	.summary-cart__wrapper {
		color: $blackSecondary;
	}

	// .summary-success__title
	&__title {
		color: $blackPrimary;
		border-bottom: 1px solid #fff;
		padding-bottom: 33px;
		margin-bottom: 0;

		@media screen and (max-width: 991px) {
			display: none;
		}
	}

	// .summary-success__section
	&__section {
		padding: 24px 0;
		border-bottom: 1px solid #fff;
	}

	// .summary-success__section-title
	&__section-title {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 8px;
	}

	// .summary-success__text-wrapper
	&__text-wrapper {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .summary-success__text
	&__text {
		font-size: 14px;
		line-height: 19px;

		strong {
			letter-spacing: -0.9px;
		}
	}

	// .summary-success__subscribe
	&__subscribe {
	}
}

.subscribe {
	padding-top: 40px;

	// .subscribe__title
	&__title {
		color: $blackPrimary;
		margin-bottom: 16px;
	}

	// .subscribe__subtitle
	&__subtitle {
		margin-bottom: 35px;
	}

	&__form {
		.input_field {
			background: transparent;
		}
	}

	&__policy {
		margin-top: 12px;
		font-size: 10px;
		line-height: 14px;
	}
}
