@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// libs
@import "libs/slick";

// old
@import "old/utilites/index";
@import "old/base/index";
@import "old/modules/index";
@import "old/layout/index";
@import "old/components/index";
@import "old/sections/index";

@import "fonts";
@import "components/_accordion";
@import "components/_tabs";
@import "components/_modals";
@import "components/_input";
@import "components/_price-filter";

// pages
@import "pages/catalog/index";
@import "pages/home/index";
@import "pages/blog/index";
@import "pages/article/index";

.article-page {
	// .article-page__tabs
	&__tabs {
	}

	// .article-page__tabs-triggers
	&__tabs-triggers {
	}

	// .article-page__content
	&__content {
	}

	// .article-page__comments
	&__comments {
	}
}

.comments {
	padding: 40px 0px;
	margin: 0;
	// .comments__comment
	&__comment {
	}
}

.comment {
	// .comment__body
	&__body {
		margin-bottom: 16px;
	}

	// .comment__top
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	// .comment__wrapper
	&__wrapper {
	}

	// .comment__author
	&__author {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: $blackSecondary;
	}

	// .comment__date
	&__date {
		font-size: 14px;
		line-height: 20px;
		color: $grayPrimary;
	}

	// .comment__rating
	&__rating {
		padding-top: 5px;
	}

	// .comment__content
	&__content {
		padding: 24px 0 16px;
	}

	// .comment__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .comment__answer
	&__answer {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22px;
		color: $graySecondary;
		letter-spacing: 1px;
	}

	// .comment__chilren
	&__chilren {
		border-left: 4px solid $grayLight;
		padding: 25px 0px 0px 25px;
	}

	&--parent {
		padding: 0;
	}
}

.comment-rating {
	display: flex;
	// .comment-rating__like
	&__like {
		display: flex;
		align-items: center;
	}

	// .comment-rating__dislike
	&__dislike {
		display: flex;
		align-items: center;
		margin-right: 11px;
	}

	i {
		margin-right: 5px;
	}
}
