@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// libs
@import "libs/slick";

// old
@import "old/utilites/index";
@import "old/base/index";
@import "old/modules/index";
@import "old/layout/index";
@import "old/components/index";
@import "old/sections/index";

@import "fonts";
@import "components/index";

// pages
@import "pages/catalog/index";
@import "pages/home/index";
@import "pages/blog/index";
@import "pages/article/index";
@import "pages/cart/index";
@import "pages/help/index";
@import "pages/about/index";
@import "pages/404/index";
@import "pages/lk/index";
@import "pages/checkout/index";

