$size-container: 1174px;
$size-layout-desktop: 1366;
$size-header-height: 89px;
$size-header-height-mobile: 52px;

$color-text: #444;
$color-green: #00d476;
$color-blue: #0c7ee5;
$color-bg-text: #00d576;

$color-hover-link: #c1c1c1;
$color-hover-button: #00af62;

$font-main: "Montserrat";

// #0C7EE5;
// #0D7CE0;
