.instagram {
	text-align: center;
	padding: 64px 0;

	@media screen and (max-width: 767px) {
		padding: 0 0 40px;
	}

	// .instagram__title-h3
	&__title-h3 {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.8px;
		color: $blackSecondary;
		margin-bottom: 6px;

		@media screen and (max-width: $size-layout-desktop + 'px') {
			font-size: calc(18px + 6 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
			line-height: calc(32 / 24);
		}
		@media screen and (max-width: 575px) {
			letter-spacing: -1px;
		}
	}

	// .instagram__hash
	&__hash {
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: $blackPrimary;
		letter-spacing: 1px;
		margin-bottom: 40px;

		@media screen and (max-width: 767px) {
			margin-bottom: 21px
		}
	}

	// .instagram__cards
	&__cards {
		padding-bottom: 22px;

		@media screen and (max-width: 575px) {
			padding-bottom: 17px;
		}
	}

	// .instagram__card
	&__card {
		padding: 10px;
		flex: 0 0 25%;

		&:focus {
			outline: none;
		}

		@media screen and (max-width: 991px) {
			padding: 6.5px 7.5px;
		}
		@media screen and (max-width: 767px) {
			flex: 0 0 50%;
			margin: 0 auto;
		}
	}

	// .instagram__img
	&__img {
		display: block;
		max-width: 100%;
		height: auto;

		@media screen and (max-width: 575px) {
			padding: 5px 8px;
		}
	}

	.slick-arrow {
		width: 70px;
		height: 40px;
		border: none;
		font-size: 0;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		display: flex;
		align-items: center;
		transition: 0.3s ease all 0s;
		padding: 0 10px;
		cursor: pointer;
		&:hover {
			background: $blackPrimary;
		}
		&:focus {
			outline: none;
		}
	}
	.slick-prev {
		left: -70px;

		&:hover {
			i {
				transform: rotate(180deg);
				background: url("../img/icons/arrow-slider-hover.svg") center no-repeat;
			}
		}
	}
	.slick-next {
		transform: translate(0, -50%);
		right: -70px;
		justify-content: flex-end;

		&:hover {
			i {
				transform: rotate(0);
				background: url("../img/icons/arrow-slider-hover.svg") center no-repeat;
			}
		}
	}

	@media screen and (max-width: 767px) {
		source {
			display: none !important;
		}
	}
}