.instagram {
	text-align: center;
	padding: 64px 0;

	@media screen and (max-width: 767px) {
		padding: 0;
	}

	// .instagram__title-h3
	&__title-h3 {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.8px;
		color: $blackSecondary;
		margin-bottom: 6px;

		@media screen and (max-width: $size-layout-desktop + 'px') {
			font-size: calc(18px + 6 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
			line-height: calc(32 / 24);
		}
		@media screen and (max-width: 575px) {
			letter-spacing: -1px;
		}
	}

	// .instagram__hash
	&__hash {
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: $blackPrimary;
		letter-spacing: 1px;
		margin-bottom: 40px;

		@media screen and (max-width: 575px) {
			margin-bottom: 21px
		}
	}

	// .instagram__cards
	&__cards {
		display: flex;
		margin: 0 -10px;
		padding-bottom: 22px;

		@media screen and (max-width: 991px) {
			margin: 0 -7.5px;
		}
		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			max-width: 620px;
			margin: 0 auto;
		}
		@media screen and (max-width: 575px) {
			margin: 0 -7.5px;
			padding-bottom: 17px;
		}
	}

	// .instagram__card
	&__card {
		padding: 10px;
		flex: 0 0 25%;

		@media screen and (max-width: 991px) {
			padding: 6.5px 7.5px;
		}
		@media screen and (max-width: 767px) {
			flex: 0 0 50%;
			margin: 0 auto;
		}
	}

	// .instagram__img
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}