.catalog {


	// .catalog__top
	&__top {
		border-top: 1px solid $bgGray;
		border-bottom: 1px solid $bgGray;
		font-weight: 400;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 1.3px;
		text-transform: uppercase;
		padding: 27px 0px 28px 0px;

		@media screen and (min-width: $screen-sm) {
			padding: 27px 3px 27px 30px;
		}
		@media screen and (max-width: 575px) {
			padding: 14px 0;
		}

		.custom-options__option {
			font-size: 12px;
		}
	}

	&__top-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__filter-wrapper {
		display: flex;
		align-items: center;

		@media screen and (min-width: 576px) {
			flex: 1 1 auto;
		}
	}

	// .catalog__filter
	&__filter-btn {
		display: inline-flex;
		align-items: center;
		margin-right: 45px;

		@media screen and (max-width: 1100px) {
			margin-right: 20px;
		}
		@media screen and (max-width: 575px) {
			flex-direction: row-reverse;
			margin: 0;
		}

		span {
			font-size: 14px;
			font-weight: 600;
			margin-left: 9px;
			letter-spacing: 0.5px;

			@media screen and (max-width: 575px) {
				margin: 0 9px 0 0;
			}
		}
	}

	&__filter-selected {
		font-size: 12px;
		line-height: 22px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-right: 35px;
		color: $blackSecondary;
		display: flex;
		align-items: center;

		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: $size-layout-desktop + 'px') {
			font-size: calc(8px + 4 * ((100vw - 375px) / (#{$size-layout-desktop} - 375)));
		}
		@media screen and (max-width: 1200px) {
			margin-right: 15px;
		}
		@media screen and (max-width: 1150px) {
			display: none;
		}

		span {
			text-decoration: underline;
		}
	}

	&__close {
		display: none;

		@media screen and (max-width: $screen-sm) {
			display: flex;
			width: 26px;
			height: 26px;
			background-color: $blackSecondary;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
		}
	}

	// .catalog__sorting
	&__sorting {
		display: flex;
	}

	// .catalog__content
	&__content {
		@media screen and (min-width: 768px) {
			padding: 22px 0 24px 21px;
		}
	}

	// .catalog__products
	&__products {
		display: flex;
		flex-wrap: wrap;

		@media screen and (max-width: 767px) {
			margin: 0 -10px;
		}
		@media screen and (max-width: 575px) {
			justify-content: space-between;
		}

		.product-card {
			@media screen and (max-width: 575px) {
				padding: 15px 7px;
			}
		}
	}

	.product-item_discount {
		top: 24px;
	}

	&__bottom {
		padding: 14px 23px 14px 19px;
	}

	&__bottom-row {
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 575px) {
			justify-content: center;
		}
	}

	&__show-more {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 18px;
		color: $grayPrimary;

		@media screen and (max-width: 767px) {
			padding: 19px 16px 17px;
			border-bottom: 1px solid $grayLight;
			margin: 0 -16px;
		}

		.show-more__label {
			white-space: nowrap;
			margin-right: 6px;

			@media screen and (max-width: 767px) {
				flex: 1 1 auto;
				font-weight: 600;
				letter-spacing: 0.3px;
				font-size: 16px;
				line-height: 22px;
				color: $blackSecondary;
			}
		}

		.custom-select-wrapper {
			@media screen and (max-width: 767px) {
				width: 115px;
				font-size: 16px;
				line-height: 22px;
				position: relative;
				
				.arrow {
					transform: rotate(90deg);
					right: -1px;
					top: 3px;
				}
			}
		}

		.custom-options {
			@media screen and (max-width: 767px) {
				top: auto;
				bottom: -4px;
				transform: translate(6px, 100%);
			}
		}
	}

	.product-card_title {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}