
.side-categories {
	&__title {
		padding: 0 16px 23px 9px;
		border-bottom: 1px solid $bgGray;
		margin: 0 -16px 0 -13px;
		font-weight: 600;
		letter-spacing: -0.8px;

		@media screen and (min-width: 768px) {
			pointer-events: none;
		}
		@media screen and (max-width: 767px) {
			padding: 20px 16px 17px;
			margin: 0 -16px;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0;

			&::before {
				width: 32px;
				height: 32px;
				background: transparent url(../img/icons/chevron.svg) no-repeat;
				transform: translate(-13px, -50%) rotate(0deg);
			}
			&::after {
				display: none;
			}

			&.active {
				&::before {
					transform: translate(-13px, -50%) rotate(90deg);
				}
			}
		}
		@media screen and (max-width: 575px) {
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
		}
		@media screen and (max-width: 450px) {
			padding: 20px 16px 17px;
		}
	}

	// .categories__accordion
	&__accordion {
		@media screen and (min-width: 768px) {
			padding-top: 40px;
		}
	}

	&__accordion-title {
		@media screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}

	&__text {
		@media screen and (max-width: 450px) {
			padding: 0;
		}
	}
}

.link-list {
	padding: 0;
	margin-bottom: 21px;

	// .link-list__item
	&__item {
		list-style-type: none;
		margin-bottom: 10px;

		&.active {
			text-decoration: underline;
		}
	}
}