.blog-categories {
	&__title-h6 {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: $blackSecondary;
		padding: 40px 0 32px;
	}

	.catalog__top {
		@media screen and (min-width: 768px) {
			padding: 27px 2px 28px 25px;
			margin: 0;
		}
	}

	.catalog__content {
		padding-bottom: 0;
		
		@media screen and (max-width: 767px) {
			padding-top: 24px;
		}
		@media screen and (max-width: 450px) {
			padding-top: 0;
		}
	}

	.catalog__show-more--desktop {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	.catalog__top-wrapper {
		@media screen and (max-width: 575px) {
			flex-direction: row;
		}
	}

	.catalog__sorting {
		@media screen and (max-width: 575px) {
			flex: inherit;
		}
	}

	.custom-select-wrapper--right {
		.custom-options {
			@media screen and (max-width: 575px) {
				left: auto;
				right: 0;
			}
		}
	}
}
