.catalog {
	// .catalog__articles
	&__articles {
		display: flex;
		flex-wrap: wrap;
		margin: -36px -12px 0;

		@media screen and (max-width: 991px) {
			margin: -25px -7.5px 0;
		}
		@media screen and (max-width: 450px) {
			margin: -12px -7.5px 0;
		}
	}

	&__bottom {
		display: none;
	}
}