// input
.input-group {
  position: relative;
  width: 100%;

  &__field {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0px 5px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $blackSecondary;
    box-sizing: border-box;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }

  /* LABEL ======================================= */
  label {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    white-space: nowrap;
    top: 6px;
    transition: $tr;
  }

  /* active state */
  input:focus ~ label,
  input:valid ~ label {
    top: -16px;
    font-size: 12px;
    color: $blackSecondary;
  }

  &__notation {
    text-align: right;
    margin-top: -20px;

    a {
      color: $blue;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__valide-text {
    display: none;
    transition: 0.3s ease all 0s;
  }

  &._invalid {
    .input-group__valide-text {
      color: #F53337;
    }
  }

  &._valid {
    .input-group__valide-text {
      color: #00b733;
    }
  }

  &--mail {
    .input_btn {
      top: 10px;
      bottom: auto;
    }
  }
}
