.accordion {
    // .accordion__title
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.6px;
        color: $blackSecondary;
        margin-bottom: 24px;
        position: relative;
        cursor: pointer;

        @media screen and (max-width: $size-layout-desktop + "px") {
            font-size: calc(16px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
            line-height: calc(24 / 18);
        }

        @media screen and (max-width: 450px) {
            padding: 20px 30px 20px 0;
        }

        &::before,
        &::after {
            content: "";
            width: 9px;
            height: 2px;
            background-color: $blackSecondary;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.3s ease all 0s;
        }

        &::before {
            transform: translate(0, -50%) rotate(-40deg);
            right: 3px;
        }

        &::after {
            transform: translate(0, -50%) rotate(40deg);
            right: 9px;
        }

        &.active {
            &::before {
                transform: translate(0, -50%) rotate(40deg);
            }
            &::after {
                transform: translate(0, -50%) rotate(-40deg);
            }
        }
    }

    // .accordion__text
    &__text {
        display: none;
        padding: 10px 0;

        @media screen and (max-width: 450px) {
            padding: 0px 30px 20px 0;
        }
    }
}
