.input-wrapper {
    position: relative;

    &__text {
        width: 100%;
        font-family: $font;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $blackSecondary;
        border-radius: 0;
        
        &::placeholder {
            color: $blackSecondary;
            opacity: 1;
            transition: 0.5s ease all 0s;
        }

        &:focus {
            outline: 0;
            &::placeholder {
                opacity: 0;
            }
        }
    }

    &__textarea {
        overflow: hidden;
        resize: none;
        padding: 15px;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    &__label {
        padding-left: 36px;
        cursor: pointer;
        position: relative;
        user-select: none;
        font-size: 16px;
        line-height: 24px;
        
        @media screen and (max-width: $size-layout-desktop + 'px') {
            font-size: calc(13px + 3 * ((100vw - 720px) / (#{$size-layout-desktop} - 720)));
            line-height: calc(24 / 16);
        }

        &::before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff url(../img/icons/check.svg) no-repeat center;
            border: 1px solid $grayPrimary;
        }
    }
}

.input-wrapper--radio {
    input[type="radio"] + label:before {
        border-radius: 50%;
    }

    input[type="radio"]:checked + label:before {
        border-width: 8px;
    }
}
.input-wrapper--check {
    input[type="checkbox"]:checked + label:before {
        content: "";
        background: #fff url(../img/icons/check-black.svg) no-repeat center;
        border-width: 2px;
        border-color: $blackPrimary;
    }
}