// !Popup
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(114, 117, 126, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 6;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s ease all 0s;

    &.open {
        opacity: 1;
        visibility: visible;

        .popup__content {
            transform: perspective(600px) translate(0, 0) rotateX(0deg);
            opacity: 1;
        }
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        @media screen and (max-width: 450px) {
            padding: 30px 0;
        }
    }

    &__content {
        width: 100%;
        max-width: 950px;
        position: relative;
        opacity: 0;
        transform: translate(0, -100%);
        transition: 0.8s ease all 0s;

        @media screen and (max-width: 767px) {
            padding: 25px 10px 60px;
        }
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 27px;

        @media screen and (max-width: 767px) {
            top: 15px;
            right: 7px;
        }
    }

    &__back {
        position: absolute;
        top: 25px;
        left: 27px;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        text-decoration: none;

        @media screen and (max-width: 767px) {
            top: 15px;
            left: 7px;
        }

        svg {
            margin-right: 8px;
        }

        span {
            border-bottom: 1px solid #fff;
        }
    }

    &--filter {
        z-index: 51;
        &.open {
            .popup__content {
                transform: perspective(0) translate(0, 0) rotateX(0deg);

                @media screen and (max-width: 767px) {
                    overflow-x: hidden;
                }
            }
        }

        .close-popup {
            width: 52px;
            height: 52px;
            background-color: $blackSecondary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 32px;
            transform: translate(50%, 0px);

            @media screen and (max-width: 767px) {
                width: 26px;
                height: 26px;
                top: 18px;
                right: 16px;
                transform: translate(0, 0px);

                svg {
                    width: 8px;
                    height: 8px;
                }
            }
        }

        .popup__body {
            padding: 0;
            justify-content: flex-start;
        }

        .popup__content {
            transform: translate(-500px, 0);
            background: #fff;
            max-width: 366px;
            padding: 33px 43px;
            min-height: 100vh;

            @media screen and (max-width: 767px) {
                padding: 0 16px 166px;
                max-width: 375px;
            }
            @media screen and (max-width: 575px) {
                max-width: 100%;
            }
        }

        .title-h6--767 {
            padding: 20px 16px;
            margin: 0 -16px;
            background-color: $grayLight;
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }

    &--help {
        &.open {
            .popup__content {
                transform: perspective(0) translate(0, 0) rotateX(0deg);
            }
        }

        .popup__close-wrapper {
            margin: 0 -16px;
            padding: 0 5px;
            display: flex;
            align-items: center;

            i {
                transform: rotate(180deg);
            }
        }

        .close-popup {
            z-index: 56;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 16px 0;
            position: initial;
            border-bottom: 1px solid $grayLight;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.5px;
            text-align: center;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            &:hover {
                text-decoration: none;
            }

            i {
                position: absolute;
                left: 0;
            }
        }

        .popup__body {
            padding: 40px 0 0;
            justify-content: flex-start;
        }

        .popup__content {
            transform: translate(-500px, 0);
            background: #fff;
            max-width: 100%;
            padding: 33px 56px;
            min-height: 100vh;

            @media screen and (max-width: 767px) {
                padding: 0 16px 38px;
                max-width: 375px;
            }
            @media screen and (max-width: 575px) {
                max-width: 100%;
            }
        }

        .tabs-triggers__item--active {
            box-shadow: none;
        }
    }

    &--size-table {
        .close-popup {
            top: 8px;
            right: 15px;

            @media screen and (max-width: 767px) {
                right: 14px;
            }

            svg {
                width: 8px;
                path {
                    fill: $blackSecondary;
                }
            }
        }

        .popup__content {
            background: #fff;
            padding: 37px 78px 64px;
            max-width: 925px;

            @media screen and (max-width: 991px) {
                padding: 37px 40px 45px;
            }
            @media screen and (max-width: 767px) {
                padding: 37px 16px 45px;
            }
            @media screen and (max-width: 575px) {
                padding: 37px 23px 23px;
            }
        }

        .popup__body {
            @media screen and (max-width: 575px) {
                padding-top: 50px;
            }
            @media screen and (max-width: 450px) {
                padding: 50px 16px 16px;
            }
        }
    }
}
