.tabs-triggers {
	display: flex;

	// .tabs-triggers__item
	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s ease all 0s;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			bottom: 0;
			opacity: 0;
			transition: 0.3s ease all 0s;
		}

		&--active {
			box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
			z-index: 2;
			&::after {
				opacity: 1;
				width: 100%;
				left: 0;
			}
		}
	}
}
.tabs-content {
	// .tabs-content__item
	&__item {
		display: none;

		&--active {
			display: block;
		}
	}
}